extends layout

block content
	//- h1= title
	//- p Welcome to #{title}
	#dollars
		.login-logo
		.login-name
			label(for="form-name") Username:
			input(type="text" id="form-name" name="name" size="10" maxlength="20" class="login-name-input" required autocomplete="on")
		.login-submit
			input(type="submit" name="login" id="login-submit" value="ENTER" class="login-submit-input")
	#dollars-options(style="display: none")
		.chat-select
			.chat-broadcast Public Chat
			.chat-privately Private Chat
		.chat-name
			.chat-name-input
				label(for="form-chat") Chat to:
				input(type="text" id="form-chat" name="name" size="10" maxlength="20" class="login-name-input" required autocomplete="on")
			.chat-submit
				input(type="submit" name="login" value="ENTER" class="login-submit-input")
			.chat-response
	#dollars-room(style="display: none")
		#talk
			.message-input
				input(type="text" id="message" autocomplete="off" required)
				button Send